.homePage {
  width: 100%;
  height: calc(100vh - 80px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.homePage .postContents {
  width: 600px;
  height: auto;
  max-height: 600px;
  background-color: white;
  box-shadow: 6px 6px 21px 5px #777777;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.postHeader h1 {
  text-align: center;
  margin-top: 5px;
}

.postContents .postTextContainer {
  height: auto;
  word-wrap: break-word;
  max-height: 400px;
  width: 100%;
}

.nameAndDeleteButton {
  display: flex;
  align-items: center;
}

.nameAndDeleteButton button {
  flex: 10%;
  background-color: rgb(245, 123, 123);
  color: white;
  border: none;
  padding: 7px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.nameAndDeleteButton button:hover {
  background-color: rgb(179, 79, 61);
}

.nameAndDeleteButton h3 {
  flex: 90%;
}
